<!DOCTYPE html>
<html>

<head>
    <title>Opt-in Email</title>
    <style>
        .content {
            color: white;
            margin-top: 20px;
        }
        body {
			background-color: white;
			margin: 0;
			padding: 0;
		}
		.container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			width: 100vw;
		}
		.container img {
			max-width: 100%;
			height: auto;
		}
    </style>
</head>

<body>
    <!-- Logo section -->
    <div id="logo">
        <td style="background-color:white;">
            <img src="./email_logo.png" height="250" width=auto style="padding-top: 1rem;">
        </td>
    </div>

    <!-- Main content -->
    <div class="content" style="align: left 1px; background: -webkit-linear-gradient(0deg,#39b1b2 ,#000000 100%);">
        <h1 style="font-size: 2.5em;">Verification Code</h1>
        <p style="font-size: 1.5em;">Please use the verification code below to sign in.</p>
        <br>
        <table>
            <tr>
                <td>
                    <br>
                    <h1 strong style="font-size:3.5em; color:#ffffff;letter-spacing: 0.2em;">847117</h3>
                </td>
            </tr>
        </table>
        <p style="font-size:1.5em" ;>If you didn't request this, you can ignore this email.</p>
        <br>
        <p strong style="font-size:1.5em" ;>Thanks,</p>
        <p style="font-size:1.5em" ;>The DevHire Team</p>
        <br><br><br>
        <h2>Contact Us</h2>
        <p>For any questions or inquiries, please send us an email at <a
                href="mailto:devhire.info@gmail.com">info@devday.com</a>.</p>
    </div>
</body>

</html>