.InterviewBot-Container {
    display: flex;
}

.score-bars-container {
    margin-top: 20px;
}

.Score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    font-weight: 200;
    overflow: overlay;
    height: 44rem;
    border: 1px solid lightgrey;
}

.score-name {
    color: #10a2a4;
    font-size: larger;
    font-weight: 300;
}

.score-number-obtained {
    color: #10a2a4;
    font-weight: 200;
    font-size: 22px;
}

.score-prompt-container {
    margin-top: 20px;
}

.score-prompt {
    outline: 1px solid lightgray;
    width: fit-content;
    height: max-content;
    min-height: 300px;
    display: grid;
    padding: 12px;
    align-content: space-between;
    border-radius: 4px;
    font-weight: 300px;
}

.score-regards h6 {
    text-align: right;
}

.progress {
    height: 6px;
}

.progress-bar {
    /* width: 50%; */
    background-color: #10a2a4;
}

.score-bars-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Primary-Section {
    height: 100vh;
    padding: 50px 10px;
}

.InterviewBotDiv {
    min-height: 4rem;
    display: flex;
    margin: 15px 10px;
    word-wrap: break-word;
}

.InterviewBotIcon {
    width: 50px;
    height: 50px;
    border: 2px solid #10a2a4;
    color: #10a2a4;
    border-radius: 50%;
    background-color: white;
    font-size: 33px;
    margin: 8px 10px 8px 0px;
    position: relative;
}

.InterviewBotIcon i {
    margin: 0px 6px;
}

.InterviewBotProfile {
    width: 60px;
    height: 60px;
    display: flex;
}

.InterviewBotChat {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #10a2a4;
    word-wrap: break-word;
    color: white;
}

.IntervieweeDiv {
    min-height: 4rem;
    display: flex;
    word-wrap: break-word;
    padding: 0 30px 10px 0;
}

.IntervieweeIcon {
    width: 50px;
    height: 50px;
    border: 2px solid #10a2a4;
    color: #10a2a4;
    border-radius: 50%;
    background-color: white;
    font-size: 33px;
    margin: 8px 0px 8px 10px;
    position: relative;
}

.IntervieweeIcon i {
    margin: 0px 6px;
}

.IntervieweeProfile {
    width: 60px;
    height: 60px;
    display: flex;
}

.IntervieweeChat {
    border: 3px solid #10a2a4;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: white;
    color: #10a2a4;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #10a2a4;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #037377;
}

.Score::-webkit-scrollbar {
    width: 3px;
}

.Score::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 2px;
}

.Score::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 5px;
}

.Score::-webkit-scrollbar-thumb:hover {
    background: white;
}

.InputFieldDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

#InputField {
    height: 83%;
    border-radius: 30px;
    padding: 0px 17px;
    border: 1px solid lightgray;
    outline: none;
}

.stopButton01 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid white;
    font-size: 25px;
    background-color: #10a2a4;
    color: white;
    margin: 0px 15px;
    position: relative;
}

.stopButton01Text {
    font-size: 14px;
    border: 2px solid white;
    border-radius: 6px;
    padding: 6px 8px;
    width: 9rem;
    margin: -105px 0 0 -51px;
    position: absolute;
    background-color: #10a2a4;
    color: white;
    visibility: hidden;
}

.stopButton01:hover .stopButton01Text {
    position: absolute;
    visibility: visible;
}

.textSend {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    padding: 6px 0px;
    border: 1px solid white;
    font-size: 25px;
    background-color: #10a2a4;
    color: white;
    margin: 5px 2px 5px 5px;
}

.voiceSend {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid white;
    font-size: 25px;
    background-color: #10a2a4;
    color: white;
    margin: 5px 2px 5px 5px;
}

.primary-info {
    text-align: center;
}

.info-rules {
    text-align: start;
    padding: 7px;
}

.Examples-info {
    border-radius: 10px;
    border: 1px solid white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #10a2a4;
    color: white;
    /* padding: 0 5px 0 0; */
}

.Capabilities-info {
    display: flex;
    align-items: center;
    border-radius: 6px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #10a2a4;
    color: white;
    padding: 15px 15px;
    margin: 0px 10px;
}

.Limits-info {
    border-radius: 6px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #10a2a4;
    color: white;
    padding: 15px 15px;
    display: flex;
    margin: 0px 10px;
    align-items: center;
}

.Capabilities-info p {
    margin: 0px !important;
}

.Limits-info p {
    margin: 0px !important;
}

.info {
    border-radius: 50%;
    width: 40px;
    height: 32px;
    border: 1px solid white;
    font-size: 20px;
    background-color: #10a2a4;
    color: white;
    /* cursor: none; */
}

.col-md-auto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startbutton {
    padding: 60px 0 0 0;
}

.start {
    border-radius: 10px;
    border: 1px solid #ffffff;
    width: 200px;
    height: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    background-color: #10a2a4;
    cursor: pointer;
}

.input-cursor {
    position: relative;
    display: inline-block;
    width: 2px;
    height: 16px;
    background-color: #10a2a4;
    margin-left: 3px;
    top: 4px;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}

.score-group {
    margin-bottom: 20px;
}

.Score-Board-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border-radius: 20px;
    height: 60px;
    font-size: 26px;
    --bs-btn-font-weight: 600;
    --bs-btn-color: white;
    --bs-btn-bg: #10a2a4;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: #10a2a4;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: #10a2a4;
    border: 2px solid;
    --bs-btn-focus-shadow-rgb: black;
    --bs-btn-active-color: #10a2a4;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: #10a2a4;
}

.offcanvas {
    overflow: auto;
}

#Score-Board-btn-div {
    z-index: 10000;
    margin: 10px 0px 0px 10px;
    position: absolute;
    visibility: hidden;
}

@media (max-width: 991px) {
    #Score-Board-btn-div {
        visibility: visible;
    }

    .offcanvas {
        visibility: visible;
    }
}

@media (min-width: 992px) {
    .offcanvas.show {
        visibility: hidden;
    }
}

#textArea {
    height: 95%;
    overflow: auto;
}