<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup2.css">
    <title>Sign Up</title>
  </head>
  <body>
    <div id="container">
      <div id="logo">
        <img
          src="/static/Logo2.png"
          alt="Dev Hire" style="width: 40%; height: auto;">
      </div>

      <div id="signup">
        <h1>Sign Up</h1>
        <input type="text" id="signupFirstName" placeholder="First Name" />
        <input type="text" id="signupLastName" placeholder="Last Name" />
        <input type="email" id="signupEmail" placeholder="Email" />
        <button id="signupSendOtp" onclick="checkNIG()">Send OTP</button>
        <div id="signupTimer"></div>
        <input type="text" id="signupOtp" placeholder="Enter OTP" />
        <button id="signupButton" onclick="checkOTP()">Sign Up</button>
        <p>Already have an account? <a href="#"
            onclick="window.location.href='/signin'">Sign in</a></p>

      </div>
    </div>
    <script src="signup2.js"></script>
  </body>
</html>