<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DevHire - Email Already Registered</title>
    <link rel="stylesheet" href="signinerror.css">
  </head>
  <body>
    <div id="container">
      <div id="logo">
        <img
          src="/static/Logo2.png"
          alt="Dev Hire" style="width: 40%; height: auto;">
      </div>
      <h1>Email Not Registered</h1>
      <p>This email is not registered with DevHire. Either Sign in with a
        registered email or Sign up instead.</p>
      <button onclick="window.location.href='/signup'">Sign Up</button>
      <button onclick="window.location.href='/signin'">Sign In</button>
    </div>
  </body>
</html>
